
.select-field {
    display: flex;
    align-items: center;
    justify-content: left;
}


select {
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
}


#selector {
    margin-left: 10px;
}