body {
    display: flex;
    flex: content;
    justify-content: center;

}

.card {
    padding: 10px;
    border-width: 5px;
    border-color: blue;
    border-style: solid;

}

.submitbutton {
    color: white;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:   #1a8cff;
    border-width: 0px;
    border-radius: 3px;
}

input {
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 2px;
    border-radius: 3px; 
}

label {
    font-size: 25px;
    font-weight: bold;
}

.hidden {
    display: none;
}